*{
  margin: 0;
  padding:0%;
  box-sizing:border-box;
}

html {
  font-family: "roboto", serif;
}

body{
  background: #033c3264;
  background-image:linear-gradient(to right, #4cb1a3c9, #02150296);
  font-size: 15px;
  font-weight:normal;
  line-height: 19px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
